<a matIconButton routerLink="/" data-testid="back-button"><mat-icon>arrow_back</mat-icon></a>
<div class="wrapper">
  <h1>Inscription</h1>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" floatLabel="always" class="form__field">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput formControlName="username" data-testid="username-input" />
      @if (form.controls.username.invalid && form.controls.username.touched) {
        <mat-error class="form__message">
          @if (form.controls.username.errors?.['required']) {
            <span>Le nom d'utilisateur est obligatoire</span>
          }
          @if (form.controls.username.errors?.['minlength']) {
            <span>Le nom d'utilisateur doit comporter au moins 3 caractères</span>
          }
          @if (form.controls.username.errors?.['maxlength']) {
            <span>Le nom d'utilisateur ne doit pas dépasser 20 caractères.</span>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always" class="form__field">
      <mat-label>Adresse e-mail</mat-label>
      <input matInput formControlName="email" data-testid="email-input" />
      @if (form.controls.email.invalid && form.controls.email.touched) {
        <mat-error class="form__message">
          @if (form.controls.email.errors?.['required']) {
            <span>Une adresse e-mail est requis</span>
          }
          @if (form.controls.email.errors?.['email']) {
            <span>Format d'adresse e-mail non valide</span>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      floatLabel="always"
      class="form__field"
      [color]="
        form.controls.password.invalid && form.controls.password.touched ? 'warn' : 'primary'
      "
    >
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        [type]="isPasswordVisible ? 'text' : 'password'"
        formControlName="password"
        data-testid="password-input"
      />
      @if (form.controls.password.value.length > 1) {
        <button
          matIconButton
          matSuffix
          type="button"
          (click)="isPasswordVisible = !isPasswordVisible"
          [attr.aria-label]="isPasswordVisible ? 'Hide password' : 'Show password'"
          [attr.aria-pressed]="isPasswordVisible"
          data-testid="password-button"
        >
          <mat-icon>{{ isPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      }
      @if (form.controls.password.invalid && form.controls.password.touched) {
        <mat-error class="form__message">
          @if (form.controls.password.errors?.['required']) {
            <span>Un mot de passe est requis</span>
          }
          @if (form.controls.password.errors?.['pattern']) {
            <span
              >Le mot de passe doit contenir 8 caractères dont une majuscule, une minuscule, un
              chiffre et un caractère spécial</span
            >
          }
        </mat-error>
      }
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="form__submit"
      [disabled]="form.invalid"
      data-testid="submit-button"
    >
      S'inscrire
    </button>

    @if (onError && errorMessage) {
      <span class="error" data-testid="error-message">{{ errorMessage }}</span>
    }
  </form>
</div>
