@mixin form {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 280px;
    margin: 24px 0;

    &__field {
      min-width: 100%;
    }

    &__message {
      margin: 0 -8px;
      font-size: 10px;
      line-height: 1.2;
    }
  }
}
