@use '@angular/material' as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, 'Helvetica Neue', sans-serif;
}

.mat-typography {
  h1 {
    text-align: center;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
  }
}

:root {
  @include mat.button-overrides(
    (
      filled-container-height: 40px,
      filled-horizontal-padding: 16px,
      filled-container-shape: 8px,
      filled-label-text-size: 16px,
      filled-label-text-weight: 600,

      protected-container-height: 40px,
      protected-horizontal-padding: 16px,
      protected-container-shape: 8px,
      protected-label-text-size: 16px,
      protected-label-text-weight: 600,

      outlined-container-height: 40px,
      outlined-horizontal-padding: 16px,
      outlined-container-shape: 8px,

      text-label-text-size: 14px,
      text-label-text-weight: 700,
    )
  );
}

.snackbar-success {
  @include mat.snack-bar-overrides(
    (
      container-color: #2e7d32,
      supporting-text-color: #ffffff,
      button-color: #ffffff,
    )
  );
}

.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      container-color: #d32f2f,
      supporting-text-color: #ffffff,
      button-color: #ffffff,
    )
  );
}
