@use '@angular/material' as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Inter, 'Helvetica Neue', sans-serif;
}

.mat-typography {
  h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
  }
}

hr {
  height: 1px;
  width: 100%;
  background-color: black;
  border: none;
  margin-bottom: 24px;
}

:root {
  @include mat.button-overrides(
    (
      filled-container-height: 40px,
      filled-horizontal-padding: 16px,
      filled-container-shape: 8px,
      filled-label-text-size: 16px,
      filled-label-text-weight: 600,

      outlined-container-height: 40px,
      outlined-horizontal-padding: 16px,
      outlined-container-shape: 8px,
      outlined-label-text-size: 16px,
      outlined-label-text-weight: 600,

      text-label-text-size: 14px,
      text-label-text-weight: 700,
    )
  );
}

.mdd-button.mat-mdc-button-base {
  @include mat.button-overrides(
    (
      filled-container-color: #7763c5,
      filled-label-text-color: #ffffff,
      filled-disabled-container-color: #939393,
      filled-disabled-label-text-color: #ffffff,
    )
  );
}

.snackbar-success {
  @include mat.snack-bar-overrides(
    (
      container-color: #2e7d32,
      supporting-text-color: #ffffff,
      button-color: #ffffff,
    )
  );
}

.snackbar-error {
  @include mat.snack-bar-overrides(
    (
      container-color: #d32f2f,
      supporting-text-color: #ffffff,
      button-color: #ffffff,
    )
  );
}
