<div class="wrapper">
  @if (isLoggedIn()) {
    <mat-spinner data-testid="loading-screen" diameter="24" strokeWidth="2"> </mat-spinner>
  } @else {
    <img src="/assets/logo_p6.png" alt="MDD logo" />
    <div class="actions" data-testid="landing">
      <a matButton="outlined" class="mdd-button" routerLink="/login" data-testid="link">
        Se connecter
      </a>
      <a matButton="outlined" class="mdd-button" routerLink="/register" data-testid="link">
        S’inscrire
      </a>
    </div>
  }
</div>
