@if (loading()) {
  <mat-spinner data-testid="loading-screen" diameter="24" strokeWidth="2"> </mat-spinner>
} @else if (error()) {
  <mat-error>
    <span data-testid="error-screen">{{ error() }}</span>
  </mat-error>
} @else {
  <h1>Créer un nouvel article</h1>
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" floatLabel="auto" class="form__field">
      <mat-label>Thème</mat-label>
      <mat-select formControlName="topicId" data-testid="topic-input">
        @for (topic of topics(); track topic.id) {
          <mat-option [value]="topic.id">{{ topic.name }}</mat-option>
        }
      </mat-select>
      @if (form.controls.topicId.invalid && form.controls.topicId.touched) {
        <mat-error class="form__message">
          @if (form.controls.topicId.errors?.['required']) {
            <span>Le thème est obligatoire</span>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="auto" class="form__field">
      <mat-label>Titre de l’article</mat-label>
      <input
        matInput
        formControlName="title"
        data-testid="title-input"
        aria-label="Titre de l’article"
      />
      @if (form.controls.title.invalid && form.controls.title.touched) {
        <mat-error class="form__message">
          @if (form.controls.title.errors?.['required']) {
            <span>Le titre est obligatoire</span>
          }
        </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="auto" class="form__field">
      <mat-label>Contenu de l’article</mat-label>
      <textarea
        matInput
        formControlName="content"
        data-testid="content-input"
        rows="6"
        aria-label="Contenu de l’article"
      ></textarea>
      @if (form.controls.content.invalid && form.controls.content.touched) {
        <mat-error class="form__message">
          @if (form.controls.content.errors?.['required']) {
            <span>Un contenu est requis</span>
          }
        </mat-error>
      }
    </mat-form-field>

    <button
      type="submit"
      matButton="filled"
      class="mdd-button"
      [disabled]="form.invalid || loading()"
      data-testid="submit-button"
    >
      Créer
    </button>
  </form>
}
